.contact {
    background-color: rgb(16, 23, 38);
    padding-top: 20px;
    padding-bottom: 100px;
}

.contact .contact-data .contact-data-item,
.contact .contact-data .primary,
.contact .contact-form .inner {
    padding: 2rem;
}

.contact .contact-data .contact-data-item,
.contact .contact-form .inner {
    background-color: rgb(30, 41, 57);
}

.contact .contact-data .primary {
    background-image: linear-gradient(to right, var(--main-color), rgb(20, 223, 113));
}

.contact .contact-data .primary h3 {
    font-size: 1.5rem !important;
}

.contact .contact-data .primary ul li,
.contact .contact-data .contact-data-item span {
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-data .primary ul li {
    background-color: black;
    width: 3rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.contact .contact-data .primary ul li:hover {
    background-color: rgb(0 0 0 / .8);
}

.contact .contact-data .contact-data-item span {
    font-size: 1.5rem;
    background-color: var(--main-color);
    width: 4rem;
}

.contact .contact-data .contact-data-item h3 {
    font-family: 'Days One', sans-serif;
    font-size: 1.25rem;
}

.contact .contact-data .contact-data-item p {
    color: #cbd5e0aa;
}

.contact .contact-form :is(input:not([type="checkbox"]), select, textarea) {
    background-color: rgb(54, 65, 83);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    transition: all 0.1s;
    resize: none;
}

.contact .contact-form :is(input:not([type="checkbox"]), select, textarea):focus,
.contact .contact-form input[type="checkbox"]:focus {
    outline: 2px solid var(--main-color) !important;
    box-shadow: none;
}

.contact .contact-form :is(input:not([type="checkbox"]), select, textarea):focus {
    outline-offset: -2px;
}

.contact .contact-form :is(input, textarea)::placeholder {
    color: #cbd5e0aa !important;
}

.contact .contact-form input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    border-radius: 0;
}

.contact .contact-form input[type="checkbox"]~label {
    font-size: 0.875rem;
    color: #cbd5e0aa !important;
}

.contact .contact-form label:not([for="gridCheck"]) {
    font-size: .875rem;
    font-weight: bold;
    color: #e2e8f0 !important;
}

.contact .contact-form h3 {
    font-family: 'Days One', sans-serif;
    font-size: 1.5rem;
}

.contact .contact-form button {
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
}

.contact .response {
    border-top: 1px solid #cbd5e033;
    padding-top: 30px;
}

.contact .response h4 {
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
}

.contact .response span {
    font-size: 0.875rem;
    color: #cbd5e0aa !important;
}